.container{
    margin-top: 30px;
}

.title{
    font-size: 96px;
}

.post{
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.image{
    
}

.imgContainer{
    flex: 1;

}