:root {
    --bg:white,
    --text-color:black;
    --softBG:#f0f0f0;
    --softTextColor:#626262
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--textColor);
}

.wrapper{
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
    padding-left: 80px;
    padding-right: ;
}