.container {
    flex: 2;
    margin-top: 60px;
  }
  
  .subtitle {
    color: gray;
    font-size: 16px;
    font-weight: 400;
  }
  .title {
    font-size: 28px;
  }

  .items{

  }

  .item{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .imageContainer{
    flex: 1;
    aspect-ratio: 1/1;
    position: relative;
  }

  .image{
    border-radius: 50%;
    border: ;
  }

  .textContainer{
    flex: 4;
  }
  
  
  @media screen and (max-width: 1024px) {
    .container {
      display: none;
    }
  }