.container {
    flex: 2;
    margin-top: 60px;
  }
  
  .subtitle {
    color: gray;
    font-size: 16px;
    font-weight: 400;
  }
  .title {
    font-size: 28px;
  }

  .items{

  }

  .item{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .imageContainer{
    flex: 1;
    aspect-ratio: 1/1;
    position: relative;
  }

  .image{
    border-radius: 50%;
    border: 3px solid burlywood;
    object-fit: cover;
  }

  .textContainer{
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .category{
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
  }

  .category.reviews{
    background-color:  rgb(254, 161, 0);
  }

  .postTitle{
    font-size: 18px;
    font-weight: 500;
    color: var(--softText);
  }

  .detail{
    font-size: 12px;
  }

  .date{
    color: grey;
  }
  
  
  @media screen and (max-width: 1024px) {
    .container {
      display: none;
    }
  }