.container{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.imageContainer{
    flex: 1;
    height: 350px;
    position: relative;
}

.textContainer{
    flex: 1;
}