.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.social{
    display: flex;
    gap: 10px;
    
}

.logo{

}

.links{
    display: flex;
    gap: 20px;
}