.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.social{
    display: flex;
    gap: 10px;
    flex: 1;
}

.logo{
    flex: 1;
    text

}

.links{
    display: flex;
    gap: 20px;
    flex: 1;

}